.text-hover-effect {
  color: white;
  transition: color 0.3s ease;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-size: x-large;
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  padding: 20px;
}

.text-hover-effect:hover {
  color: #64ffda;
}
