#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}


.main_container {
  width: 100vw;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  justify-content: center;
  position: relative;
  display: flex;
  flex-direction: column;
}

.navigation_bar {
  height: 50px;
  width: 100vw;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  padding-right: 50px;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: #242424;
  position: sticky;
  top: 0;
  z-index: 10;
}

.navigation_bar_item {
  padding: 25px;
}

.title_section {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.title_background {
  position: absolute !important;
  inset: 0;
  z-index: 0;
  width: 100% !important;
  height: 100% !important;
}

.title_content {
  position: relative;
  z-index: 1;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about_section {
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #121212;
  color: #ffffff;
  z-index: 2;
  position: relative;
}

.project_section {
    padding-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #121212;
  color: #ffffff;
  z-index: 2;
  position: relative;
}

#about {
  scroll-margin-top: 80px;
}



